.Icon-container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.Icon-container--check{
    position: absolute;
    top: -24;
    right: 0;
}

.Icon-svg{
    width: 24px;
    height: 24px;
    transition: fill .15s;

}

.Icon-container:hover .Icon-container--check{
    fill: #4caf50
}

.Icon-container:hover .Icon-container--delete{
    fill: red;
}